<div class="body">
    <div class="login">
        <h1>Ingresar</h1>
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" type="password" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Entrar</button>
        </form>
    </div>
</div>