<div class="container">
    <mat-toolbar class="barra">
        <span>Crear</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (submit)="guardar()">

            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input autocomplete="off" matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type_real_state">
                    <mat-option *ngFor="let item of types" [value]="item">{{ item.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="district">
                    <mat-option *ngFor="let item of districts" [value]="item">{{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Cantidad de titulares</mat-label>
                <input autocomplete="off" matInput formControlName="holders_count">
            </mat-form-field>
            <br>
      

            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>IdCou</mat-label>
                <input autocomplete="off" matInput formControlName="id_cou">
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Idmae</mat-label>
                <input autocomplete="off" matInput formControlName="id_mae">
            </mat-form-field>
            <br>
            <mat-form-field class="ancho" #input autocomplete="off" appearance="fill">
                <mat-label>Prioridad</mat-label>
                <input autocomplete="off" matInput formControlName="priority">
            </mat-form-field>
            <br>
            <button color="primary" [disabled]="!form.valid" mat-raised-button type="submit">Guardar</button>
        </form>

        <button color="primary" style="margin-top: 10px;" mat-raised-button (click)="goBack()">Volver</button>
    </mat-card>


</div>